{{color-term color=left action="changeLeft"}}
<div class="Operator">+</div>
{{color-term color=right action="changeRight" showAlpha=true}}
<div class="Operator">=</div>
{{color-term color=result action="changeResult"}}
